In [143]:
pip install streamlit

Requirement already satisfied: streamlit in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (1.39.0)
Requirement already satisfied: altair<6,>=4.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (5.4.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (1.8.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (5.5.0)
Requirement already satisfied: click<9,>=7.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<3,>=1.20 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (24.1)
Requirement already satisfied: pandas<3,>=1.4.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (2.2.3)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (10.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (4.25.5)
Requirement already satisfied: pyarrow>=7.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (17.0.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (13.9.1)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (4.12.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (6.4.1)
Requirement already satisfied: watchdog<6,>=2.1.5 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from streamlit) (5.0.3)
Requirement already satisfied: jinja2 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.5.2 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from altair<6,>=4.0->streamlit) (1.9.2)
Requirement already satisfied: colorama in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from requests<3,>=2.27->streamlit) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from requests<3,>=2.27->streamlit) (2024.8.30)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.18.0)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.5)
Requirement already satisfied: attrs>=22.2.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.20.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Requirement already satisfied: six>=1.5 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
pip install scikit-learn==1.3.0

Collecting scikit-learn==1.3.0
  Downloading scikit_learn-1.3.0-cp311-cp311-win_amd64.whl (9.2 MB)
     ---------------------------------------- 9.2/9.2 MB 4.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from scikit-learn==1.3.0) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from scikit-learn==1.3.0) (1.14.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from scikit-learn==1.3.0) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (from scikit-learn==1.3.0) (3.5.0)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.5.2
    Uninstalling scikit-learn-1.5.2:
      Successfully uninstalled scikit-learn-1.5.2
Successfully installed scikit-learn-1.3.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install joblib==1.4.2

Requirement already satisfied: joblib==1.4.2 in c:\users\sowmya\onedrive\desktop\nit_git\venv\lib\site-packages (1.4.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [146]:
import streamlit as st

In [147]:
import sklearn

In [148]:
import joblib

In [149]:
import pandas as pd

In [150]:
import numpy as np

In [151]:
import matplotlib

In [152]:
import matplotlib.pyplot as plt

In [153]:
import seaborn as sns

In [154]:
df1=pd.read_csv("Salary Data.csv")

In [155]:
df=df1.copy()

In [156]:
df.columns

Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

In [157]:
df1["Years of Experience"].value_counts()

Years of Experience
2.0     31
3.0     30
8.0     25
9.0     22
4.0     20
7.0     18
10.0    18
16.0    18
5.0     17
15.0    16
19.0    15
12.0    15
20.0    13
18.0    13
21.0    13
14.0    13
1.5     12
6.0     12
13.0    11
11.0    10
22.0     9
1.0      7
17.0     5
25.0     3
0.0      3
23.0     2
24.0     1
0.5      1
Name: count, dtype: int64

In [158]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [159]:
# target variable is salary

In [160]:
df.isna().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

In [161]:
for i in df.columns:
    print(i," ",df[i].dtype)

Age   float64
Gender   object
Education Level   object
Job Title   object
Years of Experience   float64
Salary   float64

In [162]:
# find there is outlets

In [163]:
sns.boxenplot(df["Age"])

In [164]:
sns.boxenplot(df["Years of Experience"])

In [165]:
# fill the null values
age_median=round(df["Age"].median(),1)
exp_median=df["Years of Experience"].median()

print(age_median)
print(exp_median)

36.0
9.0

In [166]:
df["Age"].fillna(age_median,inplace=True)

C:\Users\sowmya\AppData\Local\Temp\ipykernel_11612\1941947347.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(age_median,inplace=True)

In [167]:
df["Years of Experience"].fillna(exp_median,inplace=True)

C:\Users\sowmya\AppData\Local\Temp\ipykernel_11612\14892433.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Years of Experience"].fillna(exp_median,inplace=True)

In [168]:
df["Years of Experience"].isnull().sum()

0

In [169]:
# fill the out lets for the numarical data
q1=df["Years of Experience"].describe()["25%"]
q3=df["Years of Experience"].describe()["75%"]
iqr=q3-q1
lower_limit=q1-1.5*iqr
upper_limit=q3+1.5*iqr

In [170]:
df["Years of Experience"].clip(lower_limit,upper_limit,inplace=True)

C:\Users\sowmya\AppData\Local\Temp\ipykernel_11612\1570243546.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Years of Experience"].clip(lower_limit,upper_limit,inplace=True)

In [171]:
sns.boxplot(df["Years of Experience"])

In [172]:
q1=df["Age"].describe()["25%"]
q3=df["Age"].describe()["75%"]
iqr=q3-q1
lower_limit=q1-1.5*iqr
upper_limit=q3+1.5*iqr

In [173]:
df["Age"].clip(lower_limit,upper_limit,inplace=True)

C:\Users\sowmya\AppData\Local\Temp\ipykernel_11612\915784178.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].clip(lower_limit,upper_limit,inplace=True)

In [174]:
sns.boxplot(df["Age"])

In [175]:
df.select_dtypes(include="object").columns

Index(['Gender', 'Education Level', 'Job Title'], dtype='object')

In [176]:
def out_let(col):
    q1,q3=np.percentile (col,[25,75])
    iqr=q3-q1
    lower_limit=q1-1.5*iqr
    upper_limit=q3+1.5*iqr
    return lower_limit,upper_limit

In [178]:
for i in ["Age","Years of Experience"]:
    lower_limit,upper_limit=out_let(df[i])
    df[i]=np.where(df[i]<lower_limit , lower_limit,df[i])
    df[i]=np.where(df[i]>upper_limit , upper_limit,df[i])

In [179]:
# replace the mode values
edu_mode=df["Education Level"].mode()[0]
gender_mode=df["Gender"].mode()[0]
job_mode=df["Job Title"].mode()[0]

In [180]:
edu_mode

"Bachelor's"

In [181]:
df["Education Level"].value_counts()

Education Level
Bachelor's    224
Master's       98
PhD            51
Name: count, dtype: int64

In [182]:
df["Education Level"].fillna(edu_mode,inplace=True)

C:\Users\sowmya\AppData\Local\Temp\ipykernel_11612\1220561625.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Education Level"].fillna(edu_mode,inplace=True)

In [183]:
df["Gender"].fillna(gender_mode,inplace=True)

C:\Users\sowmya\AppData\Local\Temp\ipykernel_11612\3931548717.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Gender"].fillna(gender_mode,inplace=True)

In [184]:
df["Job Title"].fillna(job_mode,inplace=True)

C:\Users\sowmya\AppData\Local\Temp\ipykernel_11612\924734715.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Job Title"].fillna(job_mode,inplace=True)

In [185]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 2
dtype: int64

In [186]:
# slary 
sns.boxplot(df["Salary"])

In [187]:
salary_mean=df["Salary"].mean()

In [188]:
df["Salary"].fillna(salary_mean,inplace=True)

C:\Users\sowmya\AppData\Local\Temp\ipykernel_11612\4294830775.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].fillna(salary_mean,inplace=True)

In [189]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [190]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [191]:
# Assuming 'df' is your DataFrame and 'column_name' is the column you want to convert
df['Years of Experience'] = df['Years of Experience'].astype(int)

In [192]:
df['Age'] = df['Age'].astype(int)

In [193]:
# fill the chategorical data in to numarical data
unique_values=df["Job Title"].unique()
unique_values

array(['Software Engineer', 'Data Analyst', 'Senior Manager',
       'Sales Associate', 'Director', 'Marketing Analyst',
       'Product Manager', 'Sales Manager', 'Marketing Coordinator',
       'Senior Scientist', 'Software Developer', 'HR Manager',
       'Financial Analyst', 'Project Manager', 'Customer Service Rep',
       'Operations Manager', 'Marketing Manager', 'Senior Engineer',
       'Data Entry Clerk', 'Sales Director', 'Business Analyst',
       'VP of Operations', 'IT Support', 'Recruiter', 'Financial Manager',
       'Social Media Specialist', 'Software Manager', 'Junior Developer',
       'Senior Consultant', 'Product Designer', 'CEO', 'Accountant',
       'Data Scientist', 'Marketing Specialist', 'Technical Writer',
       'HR Generalist', 'Project Engineer', 'Customer Success Rep',
       'Sales Executive', 'UX Designer', 'Operations Director',
       'Network Engineer', 'Administrative Assistant',
       'Strategy Consultant', 'Copywriter', 'Account Manager',
       'Director of Marketing', 'Help Desk Analyst',
       'Customer Service Manager', 'Business Intelligence Analyst',
       'Event Coordinator', 'VP of Finance', 'Graphic Designer',
       'UX Researcher', 'Social Media Manager', 'Director of Operations',
       'Senior Data Scientist', 'Junior Accountant',
       'Digital Marketing Manager', 'IT Manager',
       'Customer Service Representative', 'Business Development Manager',
       'Senior Financial Analyst', 'Web Developer', 'Research Director',
       'Technical Support Specialist', 'Creative Director',
       'Senior Software Engineer', 'Human Resources Director',
       'Content Marketing Manager', 'Technical Recruiter',
       'Sales Representative', 'Chief Technology Officer',
       'Junior Designer', 'Financial Advisor', 'Junior Account Manager',
       'Senior Project Manager', 'Principal Scientist',
       'Supply Chain Manager', 'Senior Marketing Manager',
       'Training Specialist', 'Research Scientist',
       'Junior Software Developer', 'Public Relations Manager',
       'Operations Analyst', 'Product Marketing Manager',
       'Senior HR Manager', 'Junior Web Developer',
       'Senior Project Coordinator', 'Chief Data Officer',
       'Digital Content Producer', 'IT Support Specialist',
       'Senior Marketing Analyst', 'Customer Success Manager',
       'Senior Graphic Designer', 'Software Project Manager',
       'Supply Chain Analyst', 'Senior Business Analyst',
       'Junior Marketing Analyst', 'Office Manager', 'Principal Engineer',
       'Junior HR Generalist', 'Senior Product Manager',
       'Junior Operations Analyst', 'Senior HR Generalist',
       'Sales Operations Manager', 'Senior Software Developer',
       'Junior Web Designer', 'Senior Training Specialist',
       'Senior Research Scientist', 'Junior Sales Representative',
       'Junior Marketing Manager', 'Junior Data Analyst',
       'Senior Product Marketing Manager', 'Junior Business Analyst',
       'Senior Sales Manager', 'Junior Marketing Specialist',
       'Junior Project Manager', 'Senior Accountant', 'Director of Sales',
       'Junior Recruiter', 'Senior Business Development Manager',
       'Senior Product Designer', 'Junior Customer Support Specialist',
       'Senior IT Support Specialist', 'Junior Financial Analyst',
       'Senior Operations Manager', 'Director of Human Resources',
       'Junior Software Engineer', 'Senior Sales Representative',
       'Director of Product Management', 'Junior Copywriter',
       'Senior Marketing Coordinator', 'Senior Human Resources Manager',
       'Junior Business Development Associate', 'Senior Account Manager',
       'Senior Researcher', 'Junior HR Coordinator',
       'Director of Finance', 'Junior Marketing Coordinator',
       'Junior Data Scientist', 'Senior Operations Analyst',
       'Senior Human Resources Coordinator', 'Senior UX Designer',
       'Junior Product Manager', 'Senior Marketing Specialist',
       'Senior IT Project Manager', 'Senior Quality Assurance Analyst',
       'Director of Sales and Marketing', 'Senior Account Executive',
       'Director of Business Development', 'Junior Social Media Manager',
       'Senior Human Resources Specialist', 'Senior Data Analyst',
       'Director of Human Capital', 'Junior Advertising Coordinator',
       'Junior UX Designer', 'Senior Marketing Director',
       'Senior IT Consultant', 'Senior Financial Advisor',
       'Junior Business Operations Analyst',
       'Junior Social Media Specialist',
       'Senior Product Development Manager', 'Junior Operations Manager',
       'Senior Software Architect', 'Junior Research Scientist',
       'Senior Financial Manager', 'Senior HR Specialist',
       'Senior Data Engineer', 'Junior Operations Coordinator',
       'Director of HR', 'Senior Operations Coordinator',
       'Junior Financial Advisor', 'Director of Engineering'],
      dtype=object)

In [194]:
from sklearn.preprocessing import LabelEncoder

# Assuming 'column_name' is your categorical column
label_encoder = LabelEncoder()
df['Job Title'] = label_encoder.fit_transform(df['Job Title'])

# Boom! Categorical data becomes numbers 🔢

In [195]:
import sklearn

In [196]:
df["Job Title"].value_counts()

Job Title
29     14
30     11
110    10
131     9
134     9
       ..
4       1
14      1
43      1
21      1
80      1
Name: count, Length: 174, dtype: int64

In [197]:
for i in df.select_dtypes(include="object").columns:
    df[i]=label_encoder.fit_transform(df[i])

In [198]:
df.head()

   Age  Gender  Education Level  Job Title  Years of Experience    Salary
0   32       1                0        159                    5   90000.0
1   28       0                1         17                    3   65000.0
2   45       1                2        130                   15  150000.0
3   36       0                0        101                    7   60000.0
4   52       1                1         22                   20  200000.0

In [199]:
df["Job Title"].unique()

array([159,  17, 130, 101,  22,  81,  93, 104,  82, 150, 158,  40,  36,
        96,  13,  89,  83, 116,  18, 102,   3, 172,  44,  98,  37, 157,
       160,  57, 112,  92,   6,   1,  19,  84, 167,  39,  95,  16, 103,
       169,  88,  85,   2, 162,  10,   0,  29,  41,  12,   5,  34, 171,
        38, 170, 156,  30, 115,  47,  21,  43,  14,   4, 118, 173,  99,
       166,  11, 153,  42,   9, 165, 106,   8,  56,  35,  46, 144,  91,
       164, 134, 168, 100,  76,  97,  87,  94, 122,  80, 143,   7,  20,
        45, 131,  15, 120, 161, 163, 110,  62,  86,  90,  61, 141,  66,
       121, 105, 152,  79, 154, 146,  73,  64,  54, 142,  49, 148,  65,
        70, 109,  32,  71, 111, 139,  53, 129,  59, 138,  28,  77, 149,
        31,  52, 132, 125,  50, 108, 147,  60,  25,  63,  55, 136, 124,
       155,  69, 135, 128, 145,  33, 107,  23,  74, 126, 113,  27,  48,
        78, 133, 127, 117,  51,  75, 140,  68, 151,  72, 119, 123, 114,
        67,  26, 137,  58,  24])

In [200]:
# model preparation
from sklearn.linear_model import LinearRegression

In [201]:
from sklearn.model_selection import train_test_split

In [202]:
from sklearn.metrics import mean_squared_error,r2_score

In [203]:
# we want to split the data into 80% train the mode and 20% test the data
df.columns

Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

In [204]:
x=df[["Age","Gender","Education Level","Job Title","Years of Experience"]]
y=df["Salary"]

In [205]:
x

     Age  Gender  Education Level  Job Title  Years of Experience
0     32       1                0        159                    5
1     28       0                1         17                    3
2     45       1                2        130                   15
3     36       0                0        101                    7
4     52       1                1         22                   20
..   ...     ...              ...        ...                  ...
370   35       0                0        131                    8
371   43       1                1         30                   19
372   29       0                0         70                    2
373   34       1                0        137                    7
374   44       0                2        110                   15

[375 rows x 5 columns]

In [206]:
x_test,x_train,y_test,y_train = train_test_split(x,y,test_size=0.15,random_state=42)

In [207]:
x_test.count()

Age                    318
Gender                 318
Education Level        318
Job Title              318
Years of Experience    318
dtype: int64

In [208]:
x_train.count()

Age                    57
Gender                 57
Education Level        57
Job Title              57
Years of Experience    57
dtype: int64

In [209]:
# model training
model = LinearRegression()

In [210]:
model.fit(x_train,y_train)

LinearRegression()

In [211]:
y_pred = model.predict(x_test)

In [212]:
mse=mean_squared_error(y_pred,y_test)

In [213]:
rmse=np.sqrt(mse)
rmse

16722.730340883954

In [214]:
r2_score(y_pred,y_test)

0.8543004732950245

In [215]:
import joblib
joblib.dump(model,"salary_prd.pkl")

['salary_prd.pkl']

In [216]:
df.columns

Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

In [217]:
df["Gender"]

0      1
1      0
2      1
3      0
4      1
      ..
370    0
371    1
372    0
373    1
374    0
Name: Gender, Length: 375, dtype: int32

In [218]:
df["Education Level"].value_counts()

Education Level
0    226
1     98
2     51
Name: count, dtype: int64

In [219]:
df1["Education Level"].mode()

0    Bachelor's
Name: Education Level, dtype: object

In [220]:
pd.__version__

'2.2.3'

In [221]:
np.__version__

'1.26.4'

In [222]:
sns.__version__

'0.13.2'

In [223]:
joblib.__version__

'1.4.2'

In [224]:
sklearn.__version__

'1.5.2'

In [225]:
matplotlib.__version__

'3.9.2'

In [226]:
import joblib

In [227]:
joblib

In [228]:
joblib.__version__

'1.4.2'

In [229]:
import streamlit  as st

In [230]:
st.__version__

'1.39.0'